#Account-Container {
  /* border: 2px solid green; */
  width: 80%;
  margin: 0 auto;
}

#Account-Container .Account-Items {
  padding: 15px 0;
  color: #79589f;
}

#Account-Container .Account-Items-Disabled {
  padding-bottom: 15px;
  padding-top: 0;
}

#Account-Container .Account-List {
  width: 40vw;
}

#Account-Container .Account-Header {
  padding: 10px 0;
}

#Account-Container .Account-Title {
  font-size: 28px;
}

#Account-Container .Account-Feature-Ribbon {
  margin: 0;
}

#Account-Container .Account-Btn {
  width: 70%;
}

#Account-Container .Account-Button-Color {
  background-color: #534292;
  color: #fff;
}

#Account-Container .Button-Change:hover {
  background-color: #483396;
}

#Account-Container .Button-Change:active {
  background-color: #3c2b79;
}
