#AddUsersTable-Container .AddUsersTable-Button-Color {
  background: #60467e;
  color: #ffffff;
}

#AddUsersTable-Container .Button-Change:hover {
  background-color: #3c2b79;
  color: #ffffff;
}

#AddUsersTable-Container .Button-Change:active {
  background-color: #483396;
  color: #ffffff;
}

#AddUsersTable-Container .Selected {
  background: #e0e1e2;
  color: #5e5d5d;
}

#AddUsersTable-Container .Selected-Change:hover {
  background: #c7c8c9;
}


/* #534292 */
