#Home-Container .Home-Call-Action-Wrapper {
  margin: auto 0;
}

#Home-Container .Logo-Action-Wrapper {
  margin: auto 0;
}

#Home-Container .Home-Call-Action-1 {
  color: #f4f2f7; 
  font-size: 38px;
  font-weight: 300;
}

#Home-Container .Home-Call-Action-2 {
  color: #f4f2f7; 
  font-size: 32px;
  font-weight: 400;
}

#Home-Container span {
  font-weight: 700;
}

