body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.bg-color-home {
  background-color: #3f3270;
}

/* 
.bg-color-admin {
  background-color: #ece7f1;
}

.bg-color-user {
  background-color: #e3ddeb;
} */