.Invitation-Form-Submit-Btn-Wrapper {
  display: flex;
  justify-content: flex-end;
}

.TextArea-Field {
  display: block;
}

.Hide-Field {
  display: none;
}

.Checkbox-Label {
  margin-left: 5px; 
}

.Checkbox-Item {
  margin-left: 15px;
}