#MenuBar-Container {
  border-bottom: 2px solid #654a86;
}

#MenuBar-Container .MenuBar-Font-Color {
  color: #534292;
}

#MenuBar-Container .MenuBar-Button-Color {
  background-color: #534292;
  color: #fff;
}