#MenuBar-Container {
  border-bottom: 2px solid #654a86;
}

#MenuBar-Container .MenuBar-Font-Color {
  color: #534292;
}

#MenuBar-Container .MenuBar-Button-Color {
  background-color: #534292;
  color: #fff;
}

#MenuBar-Container .Button-Change:hover {
  background-color: #483396;
}

#MenuBar-Container .Button-Change:active {
  background-color: #3c2b79;
}

#MenuBar-Container .Invite-Btn {
  padding: 5% 75% 5% 0;
}