#Project-Container {
  border: 3px solid red;
}

#Project-Container .Project-Header-Align-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border: 3px solid rgb(4, 0, 255);
}

#Project-Container .Project-Icon-Color {
  color: #79589f;
}

#Project-Container .Project-Description-Text {
  color: #534292;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
}

#Project-Container .Project-Button-Style {
  background-color: #534292;
  color: #ffffff;
}

#Project-Container .Project-Download-Button-Style {
  background-color: #e7ff86;
  width: 180px;
  color: #000000;
}

#Project-Container .Project-Download-Button-Style a {
  color: #000000;
  text-decoration: none;
}

#Project-Container .Project-Spacing-Style {
  margin-top: 20px;
}

#Project-Container .Project-Document-Form {
  width: 50vw;
}

#Project-Container .Project-Items {
  padding: 15px 0;
  color: #79589f;
}

.Hidden {
  display: none;
}

.Next-Line {
  padding-top: 12px; 
  padding-bottom: 12px; 
}

#Project-Container .Project-Items-Disabled {
  padding-bottom: 15px;
  padding-top: 0;
}

#Project-Container .Project-List {
  width: 40vw;
  border: 3px solid rgb(128, 255, 69);
}

#Project-Container .Project-Header {
  padding: 10px 0;
}

#Project-Container .Project-Title {
  font-size: 28px;
  line-height: 30px;
}

#Project-Container .Project-Feature-Ribbon {
  margin: 0;
}