#Project-Container .Project-Header-Align-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

#Project-Container .Project-Icon-Color {
  color: #79589f;
}

#Project-Container .Project-Description-Text {
  color: #534292;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
}

#Project-Container .Project-Button-Style {
  background-color: #534292;
  color: #ffffff;
}

#Project-Container .Project-Download-Button {
  background-color: #e7ff86;
  width: 180px;
  color: #2e2929;
}

#Project-Container .Project-Download-Button:hover {
  background-color: #d9f07c;
}

#Project-Container .Project-Download-Button:active {
  background-color: #cee475;
}

#Project-Container .Project-Download-Button a {
  color: #000000;
  text-decoration: none;
}

#Project-Container .Button-Spacing {
  margin-top: 20px;
}

#Project-Container .Project-Items {
  color: #79589f;
}

#Project-Container .Items-Spacing {
  margin-top: 20px;
  padding: 2px 5px;
}

#Project-Container .Project-User-Content {
  background: none;
}

#Project-Container .Project-User-Items {
  padding: 10px 10px;
}

#Project-Container .Project-User-Items:hover {
  background: #534292;
  color: #ffffff;
}

#Project-Container .Project-User-Items:active {
  background: #3c2b79;
  color: #ffffff;
}

.Hidden {
  display: none;
}

.Next-Line {
  padding-top: 12px; 
  padding-bottom: 12px; 
}

#Project-Container .Project-Items-Disabled {
  padding-bottom: 15px;
  padding-top: 0;
}

#Project-Container .Project-List {
  width: 100%;
}

#Project-Container .Column-1 {
  border: 1px solid black;
}
#Project-Container .Column-2 {
  border: 1px solid blue;
}

#Project-Container .Project-File-Upload-Wrapper {
  margin: 0 auto;
  /* border: 3px solid rgb(184, 30, 120); */
}

#Project-Container .Project-Header {
  padding: 10px 0;
}

#Project-Container .Project-Title {
  font-size: 28px;
  line-height: 30px;
}

#Project-Container .Project-Feature-Ribbon {
  margin: 0;
}

#Project-Container .Button-Change:hover {
  background-color: #483396;
}

#Project-Container .Button-Change:active {
  background-color: #3c2b79;
}