
#Signup-Grid .Signup-Column {
  max-width: 450px;
  margin-left: 20px;
  margin-right: 20px;
}

#Signup-Grid .Signup-Header {
  color: #ffffff;
}

#Signup-Grid .Signup-Column .Signup-Button-Color {
  background: #534292;
  color: #ffffff;
}

#Signup-Grid .Signup-Message {
  color: #534292;
}