#TableList-Container {
  width: 80%;
  margin: 0 auto;
}

#TableList-Container .TableList-Button-Invite-User {
  background-color: #534292;
  color: #ffffff;
}

#TableList-Container .TableList-Button-Invite-User:hover  {
  background-color: #483396;
  color: #fff;
}

#TableList-Container .TableList-Button-Invite-User:active  {
  background-color: #3c2b79;
  color: #fff;
}

#TableList-Container .TableList-Hide-Button {
  display: none;
}

#TableList-Container .TableList-Button-Color {
  color: #60467e;  
}

#TableList-Container .TableList-Title {
  font-size: 30px;
  padding-left: 8px;
} 

#TableList-Container .TableList-Cell {
  background: none;
}

#TableList-Container .TableList-Cell:hover {
  background-color: #534292;
}

#TableList-Container .TableList-Cell:active {
  background-color: #3c2b79;
}

#TableList-Container .TableList-Icon-Color {
  color: #79589f;
}

#TableList-Container .TableList-Icon-Actions-Color {
  cursor: pointer;
  color: #79589f;
  padding: 0 50px 30px 30px;
}

#TableList-Container .TableList-Header-Align-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

#TableList-Container .Display-Column {
  display: block;
}

#TableList-Container .Hide-Column {
  display: none;
}

