#UserList-Container {
  /* border: 2px solid yellow; */
  width: 80%;
  margin: 0 auto;
}

#UserList-Container .UserList-Button-Invite-User {
  background-color: #534292;
  color: #ffffff;
}

#UserList-Container .UserList-Hide-Button {
  display: none;
}

#UserList-Container .UserList-Button-Color {
  color: #60467e;  
}

#UserList-Container .UserList-Title {
  font-size: 30px;
  padding-left: 8px;
}

#UserList-Container .UserList-Icon-Color {
  color: #79589f;
  cursor: pointer;
  width: 50px;
  height: 25px;
}

#UserList-Container .UserList-Header-Align-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

