#ViewUserProjects-Container .ViewUserProjects-Button-Color {
  background: none;
  border: 1px solid #60467e;
  color: #60467e;
}

#ViewUserProjects-Container .ViewUserProjects-Icon-Color {
  color: #79589f;
}

#ViewUserProjects-Container .ViewUserProjects-List-Item {
  padding: 20px 10px;
}

.Complete-Project {
  background-color:rgba(171, 180, 207, 0.3);
}

#ViewUserProjects-Container .ViewUserProjects-Project-Date {
  font-size: 15px;
}

#ViewUserProjects-Container .ViewUserProjects-Table-Body {
  font-size: 15px;
}

#ViewUserProjects-Container .ViewUserProjects-Header-Align-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

#ViewUserProjects-Container .ViewUserProjects-Title {
  font-size: 30px;
}

#ViewUserProjects-Container .ViewUserProjects-Table-Body {
  color: #534292; 
}