#ViewUsers-Container .ViewUsers-Button-Invite-User {
  background-color: #534292;
  color: #ffffff;
}

#ViewUsers-Container .ViewUsers-Hide-Button {
  display: none;
}

#ViewUsers-Container .ViewUsers-Button-Color {
  color: #60467e;  
}

#ViewUsers-Container .ViewUsers-Title {
  font-size: 30px;
  padding-left: 8px;
}

#ViewUsers-Container .ViewUsers-Icon-Color {
  color: #79589f;
  cursor: pointer;
  width: 50px;
  height: 25px;
}

#ViewUsers-Container .ViewUsers-Header-Align-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

