#ViewProjects-Container .ViewProjects-Button-Color {
  background: none;
  border: 1px solid #60467e;
  color: #60467e;
}

#ViewProjects-Container .ViewProjects-Button-Color-Delete {
  background: none;
  border: 1px solid #ac4444;
  color: #ac4444;
}

#ViewProjects-Container .ViewProjects-Title {
  font-size: 30px;
}

#ViewProjects-Container, .ViewProjects-Icon-Color {
  color: #79589f;
}

#ViewProjects-Container .ViewProjects-Project-Name {
  font-size: 18px;
  padding-bottom: 5px;
}

#ViewProjects-Container .ViewProjects-List-Item {
  padding: 20px 10px;
}

#ViewProjects-Container .ViewProjects-List-Item-Complete {
  padding: 20px 10px;
  background-color:rgba(171, 180, 207, 0.3);
}

#ViewProjects-Container .ViewProjects-Project-Date {
  font-size: 15px;
}

#ViewProjects-Container .ViewProjects-Header-Align-Items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

#ViewProjects-Container .ViewProjects-Button-Create-Project {
  background-color: #534292;
  color: #ffffff;
}