#Invitation-Form .Invitation-Form-Submit-Btn-Wrapper {
  display: flex;
  justify-content: flex-end;
}

#Invitation-Form .Sending-Btn {
  width: 137px;
  background: #3c2b79;
  color: #ffffff;
}

#Invitation-Form .Invitation-Form-Send-Btn {
  background: #534292;
  color: #ffffff;
}

#Invitation-Form .Invitation-Form-Send-Btn:hover {
  background-color: #483396;
  color: #ffffff;
}

#Invitation-Form .Invitation-Form-Send-Btn:active {
  background-color: #3c2b79;
  color: #ffffff;
}

.TextArea-Field {
  display: block;
}

.Hide-Field {
  display: none;
}

.Checkbox-Label {
  margin-left: 5px; 
}

.Checkbox-Item {
  margin-left: 15px;
}